@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-display: swap;
}

h2.span {
  font-size: 2vw;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #faebd7;
  z-index: 4;
}

@media screen and (max-width: 1000px) {
    h2.span {
        font-size: 2em;
    }
}

@media screen and (max-width: 705px) {
    h2.span {
        font-size: 1em;
    }
}

.loader span {
  color: #faebd7;
  text-shadow: 0 0 0 #faebd7;
  -webkit-animation: loading 2s ease-in-out infinite alternate;
    z-index: 2;
}

.typing {
  width: 0;
  animation: typing 1s steps(8) 1.5s forwards, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #02ffd7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 8.3ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}

@keyframes zoomOut {
    from {
        transform: scale(10);
    }
    to {
        transform: scale(1);
    }
}

.zoom-out {
    animation: zoomOut 1s ease-out;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #ff0266;
    color: #ff0266;
  }
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
}
.loader span:nth-child(4) {
  -webkit-animation-delay: 0.5s;
}
.loader span:nth-child(5) {
  -webkit-animation-delay: 0.7s;
}
.loader span:nth-child(6) {
  -webkit-animation-delay: 0.9s;
}
.loader span:nth-child(7) {
  -webkit-animation-delay: 1.1s;
}
.loader span:nth-child(8) {
  -webkit-animation-delay: 1.3s;
}
.loader span:nth-child(9) {
  -webkit-animation-delay: 1.5s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 1.7s;
}
.loader span:nth-child(11) {
  -webkit-animation-delay: 1.9s;
}
.loader span:nth-child(12) {
  -webkit-animation-delay: 2.1s;
}
.loader span:nth-child(13) {
  -webkit-animation-delay: 2.3s;
}
.loader span:nth-child(14) {
  -webkit-animation-delay: 2.5s;
}
.loader span:nth-child(15) {
  -webkit-animation-delay: 2.7s;
}
.loader span:nth-child(16) {
  -webkit-animation-delay: 2.9s;
}
.loader span:nth-child(17) {
  -webkit-animation-delay: 3.1s;
}
.loader span:nth-child(18) {
  -webkit-animation-delay: 3.3s;
}
.loader span:nth-child(19) {
  -webkit-animation-delay: 3.5s;
}
.loader span:nth-child(20) {
  -webkit-animation-delay: 3.7s;
}
.loader span:nth-child(21) {
  -webkit-animation-delay: 3.9s;
}
.loader span:nth-child(22) {
  -webkit-animation-delay: 4.1s;
}

.shake {
    animation-duration: 5s;
    animation-name: shaker;
    animation-iteration-count: infinite;
}

@keyframes shaker {
  0%, 15%, 100% {
    transform: rotate(0deg);
  }

  16% {
    transform: rotate(1deg);
  }

  17% {
    transform: rotate(2deg);
  }

  18% {
    transform: rotate(1deg);
  }

  19% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-1deg);
  }

  21% {
    transform: rotate(-2deg);
  }

  22% {
    transform: rotate(-1deg);
  }

  23% {
    transform: rotate(0deg);
  }

  24% {
    transform: rotate(1deg);
  }

  25% {
    transform: rotate(2deg);
  }

  26% {
    transform: rotate(1deg);
  }

  27% {
    transform: rotate(0deg);
  }

  28% {
    transform: rotate(-1deg);
  }

  29% {
    transform: rotate(-2deg);
  }

  30% {
    transform: rotate(-1deg);
  }

  31% {
    transform: rotate(0deg);
  }
}

:root {
  --marquee-width: 50%;
  --marquee-height: 50px;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed) * 3);
  --marquee-animation-duration: calc(var(--marquee-elements) * 6s);
}

@media screen and (max-width: 1000px) {
    :root {
        --marquee-width: 75%;
    }
}

@media screen and (max-width: 720px) {
    :root {
        --marquee-width: 100%;
    }
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #232323 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #232323 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.scrolling {
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.scrolling-reverse {
    animation: scrolling-reverse var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

@keyframes scrolling-reverse {
    0% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
    100% { transform: translateX(0); }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}
